/* Footer.css */
.footer-link {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #dcdcdc; /* Warna link saat hover, sedikit lebih terang */
}

.footer p {
    margin-bottom: 0;
    font-weight: 500;
}

.footer ul {
    padding-left: 0;
    margin-bottom: 0;
}

.footer ul .list-inline-item:not(:last-child)::after {
    content: " | ";
    color: #dcdcdc; /* Separator antara link */
    margin-left: 8px;
    margin-right: 8px;
}
