.light-mode {
  background-color: #fff;
  color: #000;
}

.dark-mode {
  background-color: #121212;
  color: #fff;
}

.dark-mode .navbar {
  background-color: #333 !important;
}

.dark-mode .card {
  background-color: #222;
  color: #fff;
}

.dark-mode .btn-outline-primary {
  border-color: #bbb;
  color: #bbb;
}

.dark-mode .btn-outline-primary:hover {
  background-color: #bbb;
  color: #000;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
